<div class="container-fluid login">
    <div class="row">
        <div class="col"></div>
        <div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text muted">Login</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="passworrd" [(ngModel)]="password">
                        </div>
                        <button type="submit" class="btn btn-info" (click)="login()">Login</button>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" (click)="signUp()" style="text-decoration: none;">Need Acount ? <span class="text-danger">Register</span>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" (click)="signIn()" class="text-dark" style="text-decoration: none;">Forget Password ? <span class="text-danger">Register</span>
                            </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>