<div class="py-12 list-container grid grid-cols-4 gap-4 ">
    <!-- <div class="max-w-7xl mx-auto sm:px-6 lg:px-8"> -->
        <!-- <div class="bg-white dark:bg-gray-800 overflow-hidden shadow-sm sm:rounded-lg"> -->
            <!-- <div class="p-6 text-gray-900 dark:text-gray-200"> -->
                <!-- <div class="flex flex-wrap -mx-4"> -->
                    @for (property of properties; track property){
                        <!-- <pre>{{ property }}</pre> -->
                        <div class="w-full  dark:text-gray-800   ">
                            <div class="w-full p-2">
                                <app-property-card [data]="property"></app-property-card>
                            </div>
                        </div>
                    }            
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</div>
